.course-container,
.create-activity-container {
  position: relative;
  padding-top: 155px; 
  padding-left: 50px;
}

.header-box,
.create-activity-header-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff; 
  z-index: 100;
  box-shadow: 0 2px 150px rgba(0, 0, 0, 0.4); 
}

.logo-title,
.create-activity-logo-title {
  display: flex;
  align-items: center;
}

.logo-title .logo,
.create-activity-logo-title .logo {
  width: 70px;
  height: 50px;
  margin-right: 10px;
}

.create-activity-courses-title {
  padding-left: 100px;
  font-size: 2em; 
}

.create-activity-form {
  max-width: 600px;
  padding: 20px;
  margin-left: 350px;
}

.create-activity-form label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 0;
}

.create-activity-form input[type="text"],
.create-activity-form textarea,
.create-activity-form input[type="number"],
.create-activity-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-activity-form input[type="submit"],
.create-activity-cancel-button {
  width: 100px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
}

.create-activity-form input[type="submit"]:hover,
.create-activity-cancel-button:hover {
  background-color: #0056b3;
}

.create-activity-cancel-button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.create-activity-dropzone {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.create-activity-dropzone div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-activity-button-container {
  display: flex;
  justify-content: flex-end; /* Align the buttons to the right */
  gap: 10px;
  padding-bottom: 20px;
}

.create-activity-form input[type="file"] {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background: #f8f8f8;
  cursor: pointer;
}

.create-activity-form input[type="file"]:hover {
  background: #e8e8e8;
}

.create-activity-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.create-activity-form input[type="submit"],
.create-activity-cancel-button,
.cancel-button,
.previous-button,
.next-button {
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
}

.create-activity-form input[type="submit"]:hover,
.next-button:hover {
    background-color: #0056b3;
}

.create-activity-cancel-button,
.cancel-button,
.previous-button {
    background-color: #0056b3;
    color: white;
}